{% extends 'base/base.html' %}


{% block contenido %}

<!-- As a link -->

<nav class="navbar navbar-light" style="width:80%; margin-left:200px;">
    <div class="container-fluid">

        <form method="GET" action="{% url 'Productos:Catalogo' %}">
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Categorías
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="{% url 'Productos:Catalogo' %}">Todos los Productos</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    {% for categoria in categorias %}
                    <li><a class="dropdown-item"
                            href="{% url 'Productos:Catalogo' %}?categoria={{categoria.nombre}}">{{categoria.nombre}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </form>
        {% if request.user.is_staff  %}
        <div class="text-justify">
            <a class="btn btn-danger mt-auto mb-2" href="{% url 'Productos:NuevoProducto' %}">Nuevo producto</a>
        </div>
    </div>
    {% endif %}


    </a>
    </div>
</nav>


<section class="h-100 " style="background-color:#eee;">

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <!----- descuento -->
                {% for producto in productos %}
                {% if producto.activo %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{producto.img.url}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">

                                <!-- Acciones -->
                                {% if request.user.is_staff %}
                                <td class="py-2">
                                    <a href="{% url 'Productos:EditarProducto' producto.pk %}" type="button"
                                        class="btn btn-outline-primary"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="{% url 'Productos:DesactivarProducto' producto.pk %}"  type="button" class="btn btn-outline-success">
                                        <i class="bi bi-check-lg"></i>
                                    </button>
                                   <a href="{% url 'Productos:EliminarProducto' producto.pk  %}" type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                                </td>

                                <hr>
                                {% endif %}


                                <!-- Product name-->
                                <span class="badge text-bg-dark">{{producto.categoria}}</span>
                                <h6 class="fw-bolder">{{producto.nombre}}</h6>
                                <!-- Product price-->
                                <h3>${{producto.precio}}</h3>
                            </div>
                        </div>


                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-center align-items-center">
                            <div class="mx-auto">
                                <a class="btn btn-outline-dark mt-auto mr-2"
                                   href="{% url 'Productos:Detalles' producto.pk %}">Detalles</a>
                            </div>
                        
                            {% if user.is_authenticated %}
                            <div class="text-center my-0 mx-auto">
                                {% if producto.es_favorito %}
                                <a class="btn btn-danger mt-auto"
                                   href="{% url 'Favorito:EliminarFavorito' producto.pk %}">
                                    <i class="bi bi-star"></i>
                                </a>
                                {% else %}
                                <a class="btn btn-outline-danger mt-auto"
                                   href="{% url 'Favorito:CrearFavorito' producto.pk %}">
                                    <i class="bi bi-star-fill"></i>
                                </a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}

                </div>
                {% include 'base/pagination.html' %}
    </section>
    </div>

</section>




{% endblock contenido %}