{% extends "base/base.html" %}

{% block contenido %}
<!DOCTYPE html>
<html>
<head>
    <title>Confirmación de eliminación</title>
    <style>
        h1 {
            text-align: center;
        }
        input[type="submit"] {
            background-color: red;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>¿Estás seguro de que deseas eliminar este producto?</h1>
    <div class="container-fluid">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <form method="GET" action="{% url 'Productos:Catalogo' %}">
                <!-- Dropdown code here -->
            </form>
            {% if request.user.is_staff %}
            <div class="text-justify">
                
            </div>
            {% endif %}
            <form action="{% url 'Productos:EliminarProducto' producto.id %}" method="post" style="display: flex; flex-direction: column; align-items: center;">
                {% csrf_token %}
                <input type="submit" value="Eliminar" class="btn btn-danger mt-auto mb-4">
                <a href="{% url 'Productos:Catalogo' %}" class="btn btn-secondary mt-auto mb-4">Regresar</a>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock contenido %}