{% extends "base/base.html" %}

{% block contenido %}

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="card mx-auto" style="width: 650px;">
            <div class="card-body">

                <section class="py-5 bg-light">
                    <div class="container px-4 px-lg-5 mt-5">

                        <h1>¿Estás seguro de que deseas activar este producto?</h1>
                        <div class="container-fluid">
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <form method="GET" action="{% url 'Productos:Catalogo' %}">

                                </form>
                                {% if request.user.is_staff %}
                                <div class="text-justify">

                                </div>
                                {% endif %}
                                <form action="{% url 'Productos:ActivarProducto' producto.id %}" method="post"
                                    style="display: flex; flex-direction: column; align-items: center;">
                                    {% csrf_token %}


                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-center align-items-center">
                                        <div class="mx-auto">

                                            <input type="submit" value="Activar"
                                                class="btn btn-warning mt-auto mb-4">
                                            <a href="{% url 'Productos:Catalogo' %}"
                                                class="btn btn-secondary mt-auto mb-4">Regresar</a>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>

    </div>
</section>
{% endblock contenido %}