{% extends 'base/base.html' %}

{% block contenido %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{producto.img.url}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: {{producto.id}}</div>
                <h3 class="display-5 fw-bolder">{{producto.nombre}}</h3>
                {% if not producto.activo %}
                <div class="alert alert-warning" role="alert">
                    El vendedor ha pausado esta publicación.
                  </div>
                {% endif %}
                <div class="fs-5 mb-5">
                    <span>${{producto.precio}}</span>
                </div>
                <p class="lead">{{producto.desc}}</p>
                <div class="d-flex">

                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="{% if producto.activo %}{{producto.cantidad}} {% else %} 0 {% endif %}"
                    style="max-width: 3rem" />
                {% if user.is_authenticated %}
                {% if favoritos %}
                <a class="btn btn-warning flex-shrink-0" type="button"
                    href="{% url 'Favorito:EliminarFavorito' producto.pk %}">
                    <i class="bi-star-fill me-1"></i>
                    Quitar favoritos
                </a>
                {% else %}
                <a class="btn btn-outline-warning flex-shrink-0" type="button"
                    href="{% url 'Favorito:CrearFavorito' producto.pk %}">
                    <i class="bi-star-fill me-1"></i>
                    Agregar favoritos
                </a>
                {% endif %}
                {% endif %}



                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}