{% extends 'base/base.html' %}


{% block contenido %}


<!-- Login 9 - Bootstrap Brain Component -->
<section class="bg-white py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-4 align-items-center">
      <div class="col-12 col-md-6 col-xl-7">
        <div class="d-flex justify-content-center text-bg-danger">
          <div class="col-12 col-xl-9">
            <hr class="border-white-subtle mb-4">
            <h2 class="h1 mb-4">Hacemos que tus compras sean más rápidas y eficientes.</h2>
            <p class="lead mb-5">Aprovecha de miles de productos en los mejores precios y con descuentos en envíos. </p>
            <div class="text-endx">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <div class="card border-0 rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
              </div>
            </div>
            <form method="POST">{% csrf_token %}
              {{form.errors}}
  
              {% if messages %}
              <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                {{message}}
                {% endfor %}
              </div>
              {% endif %}
  
              <label class="form-label">Nombre de usuario</label>
              <input type="text" id="username" name="username" class="form-control" value="{{nombre_usuario}}">
  
              <label class="form-label">Contraseña</label>
              <input type="password" id="password" name="password" class="form-control">
  
  
              {{form.as_p}}
              <br>
              <button class="w-100 btn btn-danger btn-lg" type="submit">Iniciar sesion</button>
              <br>
              <br>
              <div class="box justify-content-center">¿No eres miembro? <a hreF="{% url 'Usuarios:registrarusuario' %}">Registrate</a></div>
              
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock contenido %}