<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'inicio' %}"><b>TiendaYF.</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Acerca</a></li>

                <!---DROPDROWN -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'Productos:Catalogo' %}">Catalogo</a></li>
                        <li><a class="dropdown-item" href="#!">Favoritos</a></li>
                        <li><a class="dropdown-item" href="#!">Categorias</a></li>
                        <li></li>
                    </ul>
                </li>
            </ul>


           
            <form class="d-flex">
                {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    
                </ul>

                <div class="dropdown">
                    
                    <button class="btn dropdown-toggle-20" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i> {{user.last_name}} {{user.first_name}}
                    </button>


                    <ul class="dropdown-menu">
                        <h6 class="dropdown-header ">
                            usuario: <br>
                            <u>{{user.username}}</u>
                        </h6>
                        <hr class="dropdown-divider" />

                        <li><a class="dropdown-item" href="{% url 'Usuarios:perfil' %}"><i class="bi bi-person-fill"></i> Perfil</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Config.</a></li>
                        {% if user.is_staff and user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'Usuarios:listar-usuarios' %}"><i class="bi bi-gear"></i> Ver Usuarios</a></li>
                        {% endif %}
                        <hr class="dropdown-divider" />
                        <li><a class="dropdown-item" href="{% url 'Usuarios:logout' %}">
                            <i class="bi bi-x-circle"></i> Salir</a></li>
                    </ul>
                </div>

                {% else %}

                <div class="d-grid gap-2 d-md-flex" >
                    <button  class="btn btn-danger">
                        <a class="nav-link active" aria-current="page" href="{% url 'Usuarios:registrarusuario' %}">
                            <i class="bi bi-person"></i> Registrate</a>
                    </button>
                    <button  class="btn btn-outline-dark">
                        <a class="nav-link active" aria-current="page" href="{% url 'Usuarios:login' %}">
                            <i class="bi bi-person"></i> Iniciar sesion</a>
                    </button>
                 </div>

              
                {% endif %}
            </form>

            
        </div>
    </div>
</nav>