{% extends 'base/base.html' %}





{% block contenido %}

<div class="container">
    <div class="row ">

        <div class="col-lg-9 mx-auto">

            <div class="card mt-2 mx-auto p-4">
                <div class=" text-justify mt-5 ">
                    <h1>Editar perfil</h1>
                    <form method="POST" class="btn-outline-danger"> 
                        {% csrf_token %}
                        {{form.as_p}}

                        <div class=" text-center mt-5 ">
                            <input type="submit" class="btn btn-primary btn-send  pt-2 btn-block
                            " value="Aceptar">
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>

    <br>
    <hr>

    {% endblock contenido %}