{% extends 'base/base.html' %}

{% block contenido %}

{% if request.user.is_active %}



<section class="py-5 bg-white">
    <div class="container px-4 px-lg-5 mt-5">

        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3 class="h3">{{icono}} Perfil de {{request.user.username}}</h3>
        </div>

        <div class="row">
            <div class="col">
                <div class="bd-example">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Email</th>
                                <th>ROL</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ request.user.first_name }}</td>
                                <td>{{ request.user.last_name }}</td>
                                <td>{{ request.user.username }}</td>
                                <td>{{ request.user.email }}</td>
                                <td>
                                    {% if request.user.is_staff %}
                                    <span class="badge bg-danger">ADMINISTRADOR</span>
                                    {% else %}
                                    <span class="badge bg-secondary">USUARIO</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-dark btn-send pt-2 btn-block" type="button" href="{% url 'Usuarios:EditarPerfil' request.user.pk %}">Editar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>
</section>

{% endif %}

{% endblock contenido %}