{% extends 'base/base.html' %}





{% block contenido %}

<!---SECCION DE CATEGORIAS-->

<div class="container">
    <h1>Categorias</h1>
    <div class="row text-center">
        {% for categoria in categorias %}
        <div class="col-md-4 mb-3">
            <div class="position-relative">
                <img src="https://dummyimage.com/350x300/dee2e6/6c757d.jpg" class="img-fluid">
                <div class="overlay-content position-absolute bottom-0 start-50 translate-middle-x text-center">
                    <h5 class="mb-0"></h5>
                    <a href="{% url 'Productos:Catalogo' %}?categoria={{categoria.nombre}}" class="btn btn-dark mt-12">{{categoria.nombre}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<!--- SECCION DE ULTIMOS AGREGADOS-->
<div class="container">
    <h1>Últimos agregados</h1>
    <div class="row text-center">
        {% for categoria in categorias %}
        <div class="col-md-4 mb-3">
            <div class="position-relative">
                <img src="https://dummyimage.com/350x300/dee2e6/6c757d.jpg" class="img-fluid">
                <div class="overlay-content position-absolute bottom-0 start-50 translate-middle-x text-center">
                    <h5 class="mb-0"></h5>
                    <a href="{% url 'Productos:Catalogo' %}?categoria={{categoria.nombre}}" class="btn btn-dark mt-12">{{categoria.nombre}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<br>

{% endblock contenido %}